.main {
    .sp {
        .calendar {
            float: left;
            width: 40%;
            min-width: 360px;
            background: #FFF;
            padding: .5em 1em 1em;
            margin: 0 1em 1em 0;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
            @include screen('mobile') {
                width: 100%;
                float: none;
                padding:.5em .5em 1em;
                min-width:auto;
            }
            .panel {
                clear: both;
                position: relative;
                text-align: center;
                h3 {
                    margin: 0;
                }
                a.btn-prev {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                a.btn-next {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                select {
                    width: 8em;
                    margin: 0 auto;
                    border: none;
                    font-weight: bold;
                }
            }
            table {
                th {
                    text-align: center;
                    @include screen('xs_mobile') {
                        padding:.5em  .15em;
                    }
                }
                td {
                    text-align: center;
                    border: 1px solid #DDD;
                    border-left: none;
                    border-right: none;
                    @include screen('xs_mobile') {
                        padding:.5em  .15em;
                    }
                    a {
                        display: block;
                        font-weight: bold;
                        width: 2em;
                        height: 2em;
                        margin: 0 auto;
                        text-align: center;
                        line-height: 2;
                        border-radius: 50%;
                        background: #F1F1F1;
                        @include screen('xs_mobile') {
                            width: 1.5em;
                            height: 1.5em;
                            line-height: 1.5;
                        }
                        &:hover, &:focus {
                            background: $color-orange;
                            color: #FFF;
                        }
                        &.has_activity {
                            background: yellow;
                            &:hover, &:focus {
                                background: $color-orange;
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        }
        .activity_result {
            overflow: hidden;
            min-height: 400px;
            background: #FFF;
            padding: 0 1em;
            margin-bottom: 2em;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
            .no_activity {
                height: 300px;
                background: url(../images/no_activity_bg.jpg) no-repeat right bottom;
                width: 100%;
                border: 2px dashed $secondaryColor;
                padding: .5em 1em;
                border-radius: 6px;
                p {
                    font-size: 2em;
                    font-weight: bold;
                    margin: .5em 0;
                }
                @include screen('xs_mobile') {
                    p {
                        background: $color-red;
                        text-align: center;
                        border-radius: 4px;
                        padding: .5em;
                        margin: 0;
                        font-size: 1rem;
                        color: #FFF;
                    }
                }
            }
            .result {
                padding-bottom: 2em;
                ul {
                    li {
                        padding-right: 1.5em;
                        display: block;
                        position: relative;
                        overflow: hidden;
                        .status {
                            position: absolute;
                            background: $color-red;
                            color: #FFF;
                            padding: 0em 1em;
                            display: block;
                            min-width: 3em;
                            height: 1.5em;
                            line-height: 1.5em;
                            right: .5em;
                            top: 0;
                            margin: 0;
                            font-size: 1rem;
                            @include screen('xs_mobile') {
                                right: 0;
                                padding: 0em .75em;
                                font-size: .875rem;
                            }
                        }
                        &:hover, &:focus {
                            &:before {
                                right: .75em;
                            }
                        }
                        &:before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            transform: rotate(45deg);
                            border: 3px solid $secondaryColor;
                            border-bottom: none;
                            border-left: none;
                            right: -3em;
                            top: 45%;
                            transition: .3s ease-out;
                        }
                    }
                }
                .img-container {
                    width: 220px;
                    margin: 0 1em 0 0;
                    @include screen('mobile') {
                        width: 180px;
                        float: left;
                        margin: 0 .5em 0 0;
                    }
                    @include screen('tablet') {
                        width: 140px;
                        float: left;
                    }
                }
                time {
                    overflow: hidden;
                    position: relative;
                    display: block;
                    width: 80px;
                    height: 40px;
                    padding-top: .5em;
                    line-height: 1;
                    font-weight: bold;
                    .month {
                        position: absolute;
                        font-weight: bold;
                        top: .2em;
                        left: 0;
                        width: 50px;
                        text-align: left;
                        font-size: 1.25em;
                        &:after {
                            position: absolute;
                            content: "";
                            border-top: 1px solid #666;
                            transform: rotate(-55deg);
                            width: 30px;
                            top: 1em;
                            right: .65em;
                        }
                    }
                    .day {
                        position: absolute;
                        font-weight: bold;
                        top: 1em;
                        left: 0em;
                        width: 50px;
                        text-align: right;
                        font-size: 1.25em;
                    }
                    .date {
                        position: absolute;
                        top: .75em;
                        right: 0;
                        text-align: center;
                    }
                }
                h3 {
                    font-size: 1.5rem;
                    width: auto;
                    overflow: hidden;
                    @include screen('tablet') {
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
    .privacy{
        line-height: 1.6em;
        margin: 2em;
        color:#333;
        h3{
            font-size: 1.35em;
            margin: .5em 0;
        }
        h4{
            font-size: 1.125em;
            margin: .5em 0;
        }
        @include screen('mobile') {
            margin: 2em; 
        }
    }
}

.loginbg{
    background: url('../images/login_bg.jpg')no-repeat left top -70px;
    background-size: 100% auto;
    @include screen('mobile') {
        background: url('../images/login_bg.jpg')no-repeat center top;
        background-size: 350% auto;
    }
    .accesskey{
        color:#014da3;
    }
    .header{
        background: rgba(0, 0, 0, 0);
        .sidebarCtrl{
            display: none!important;
        }
    }
    .footer{
        background: #2b2b2b;
        color:#ccc;
        position: fixed;
        left:0;
        bottom:0;
        width: 100%;
        p{
            margin: 0;
            padding: .3em;
            font-size: .875em;
            text-align: center;
        }
    }
    .login{
      position: fixed;
      right:80px;
      top:140px;
      width: 354px;
      background: url(none);
      @include screen('mobile') {
        width: 80%;
        right:0;
        left:0;
        top:40px;
    }
    h2{
        color:#fff;
        margin: 0 0 1em;
    }
    .loginbox{
     width: 354px;
     min-height: 354px;
     background: rgba(255, 255, 255, .9)!important;
     color:#222222;
     @include screen('mobile') {
        width: 100%;
    }
    .form_grid{
        margin: 0;
        padding: 3em 3em 2em;
        @include screen('mobile') {
          padding: 2em;  
      }
      .form_grp{
        border-bottom: none;
    }
    .form_title{
        width:3em;
        padding: .7em 0 0;
    }
    .form_content{
        width: calc(100% - 3em);
        padding:.2em;
    }
    .btn_grp{
        padding: .5em 0 1em 3em;
    }
}
ul{
    list-style: none;
    margin: 1em 0 1em 3.5em;
    padding: 0;
    li{
        display: inline-block;
        margin-right: .5em;
        padding-left: 20px;
        a{
            color:#666;
            &:hover, &:focus{
                color:$secondaryColor
            }
        }
    }
    .forget{
        background: url('../images/icon_pwd1.png')no-repeat left top 3px;
        background-size: 16px auto;
    }
    .reg{
        background: url('../images/icon_pwd2.png')no-repeat left top 4px;
        background-size: 16px auto;
    }
}
dl{
    margin: 0;
    display: flex;
    flex-wrap:nowrap;
    dt{padding: 12px 5px 0 0;color:#666;}
    dd{
        display: inline-block;margin-inline-start: 5px;margin-inline-end: 5px;height: 50px;
        @include screen('mobile') {
          margin-inline-start: 2px;margin-inline-end: 2px;  
      }
  }
  img{
    width: 50px;
    height: 50px;
}
a{
    display: inline-block;
}
}

}

}



}

//myarea
.myarea{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .col{
        flex-basis: calc(100% / 12 * 4 - 4px);
        max-width: calc(100% / 12 * 4 - 4px);
        @include screen('mobile') {
           flex-basis: calc(100% / 12 * 12 - 4px);
           max-width: calc(100% / 12 * 12 - 4px); 
       }
       &:nth-child(1){
        a{
            background:#fff url('../images/application_02.png')no-repeat right 12px bottom;
        }
    }
    &:nth-child(2){
        a{
            background:#fff url('../images/application_01.png')no-repeat right -5px bottom;
        }
    }
    &:nth-child(3){
        a{
            background:#fff url('../images/application_03.png')no-repeat right -25px center;
        }
    }
    &:nth-child(4){
        a{
            background:#fff url('../images/camp_bg2.png')no-repeat right -12px bottom 10px;
            background-size: auto 114px;
        }
    }
    &:nth-child(5){
        a{
            background:#fff url('../images/activity_bg.png')no-repeat right 5px bottom -5px;
            background-size: auto 140px;
        }
    }
    &:nth-child(6){
        a{
            background:#fff url('../images/service_bg.png')no-repeat right -20px bottom;
            background-size: auto 130px;
        }
    }
}
a{
    box-shadow: 0px 0px 30px rgba(121, 102, 84, .25);
    display: block;
    margin: 10px 50px 20px;
    height: 146px;
    @include screen('notebook') {
        margin: 10px 30px 20px;
    }
    &:focus{
        outline: solid 3px $importantColor;
    }
}
h3 {
    font-weight: bold;
    margin: 48px 0 0 -22px;
    padding: .8em .5em;
    font-size: 1.125em;
    letter-spacing: .1em;
    background: rgb(65,25,3);
    background: -moz-linear-gradient(90deg, rgba(65,25,3,1) 0%, rgba(85,41,21,1) 50%, rgba(105,57,38,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(65,25,3,1) 0%, rgba(85,41,21,1) 50%, rgba(105,57,38,1) 100%);
    background: linear-gradient(90deg, rgba(65,25,3,1) 0%, rgba(85,41,21,1) 50%, rgba(105,57,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#411903",endColorstr="#693926",GradientType=1);
    color:#fff;
    width: 9.2em;
    float: left;
    text-align: center;
}

}

//myarea2
.myarea2{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    .col{
        flex-basis: calc(100% / 12 * 4 - 4px);
        max-width: calc(100% / 12 * 4 - 4px);
        @include screen('tablet') {
           flex-basis: calc(100% / 12 * 12 - 4px);
           max-width: calc(100% / 12 * 12 - 4px); 
       }
       &:nth-child(1){
        flex-basis: calc(100% / 12 * 8 - 4px);
        max-width: calc(100% / 12 * 8 - 4px);
        @include screen('tablet') {
            flex-basis: calc(100% / 12 * 12 - 4px);
            max-width: calc(100% / 12 * 12 - 4px); 
        }
        .mbox{
            background:#fff url('../images/logo_s.png')no-repeat left 12em center;
            background-size: 125px auto;
            @include screen('mobile') {
                background:#fff url('../images/logo_s.png')no-repeat left 11.5em top 30px;
                background-size: 90px auto;  
            }

        }
    }
    &:nth-child(2){
        .mbox{
            background: url('none');
        }
    }
    &:nth-child(3){
        .mbox{
            background: url('none');
        }
    }
    &:nth-child(4){
        flex-basis: calc(100% / 12 * 8 - 4px);
        max-width: calc(100% / 12 * 8 - 4px);
        @include screen('tablet') {
           flex-basis: calc(100% / 12 * 12 - 4px);
           max-width: calc(100% / 12 * 12 - 4px); 
       }
       .mbox{
        background:#fff url('../images/6logo_s.png')no-repeat left 12em center;
        background-size: 106px auto;
        @include screen('mobile') {
            background:#fff url('../images/6logo_s.png')no-repeat left 11.5em top 10px;
            background-size: 80px auto;  
        }
    }
}

}
.mbox{
    box-shadow: 0px 0px 30px rgba(121, 102, 84, .25);
    display: block;
    margin: 10px 50px 20px;
    height: 146px;
    position: relative;
    @include screen('notebook') {
        margin: 10px 30px 20px;
    }
    @include screen('mobile') {
        height: auto;
        // min-height: 200px;
    }
    &:focus{
        outline: solid 3px $importantColor;
    }
}
h3 {
    font-weight: bold;
    margin: 48px 0 0 -22px;
    padding: .8em .5em;
    font-size: 1.125em;
    letter-spacing: .1em;
    background: rgb(65,25,3);
    background: -moz-linear-gradient(90deg, rgba(65,25,3,1) 0%, rgba(85,41,21,1) 50%, rgba(105,57,38,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(65,25,3,1) 0%, rgba(85,41,21,1) 50%, rgba(105,57,38,1) 100%);
    background: linear-gradient(90deg, rgba(65,25,3,1) 0%, rgba(85,41,21,1) 50%, rgba(105,57,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#411903",endColorstr="#693926",GradientType=1);
    color:#fff;
    width: 10.4em;
    float: left;
    text-align: center;
    @include screen('mobile') {
        margin: 25px 0 0 -22px;  
    }
}
.vr{
    a{
        box-shadow: 0px 0px 30px rgba(121, 102, 84, .25);
        background: #FFF url('../images/hoticon04.png')no-repeat left 12em center;
        background-size: 88px auto;
        display: block;
        margin: 10px 50px 20px;
        height: 146px;
        @include screen('tablet') {
            margin: 10px 30px 20px;
            background: #FFF url('../images/hoticon04.png')no-repeat left 12em center;
            background-size: 100px auto;
        }
        @include screen('mobile') {
            margin: 10px 30px 20px;
            background: #FFF url('../images/hoticon04.png')no-repeat left 11em top 20px;
            background-size: 90px auto;
            height: 110px;
        }
        &:focus{
            outline: solid 3px $importantColor;
        }
    }
}
.museum{
    a{
        box-shadow: 0px 0px 30px rgba(121, 102, 84, .25);
        background: #FFF url('../images/hoticon05.png')no-repeat left 12.5em center;
        background-size: 60px auto;
        display: block;
        margin: 10px 50px 20px;
        height: 146px;
        @include screen('tablet') {
            margin: 10px 30px 20px;
            background: #FFF url('../images/hoticon05.png')no-repeat left 12.8em center;
            background-size: 80px auto;
        }
        @include screen('mobile') {
            margin: 10px 30px 20px;
            background: #FFF url('../images/hoticon05.png')no-repeat left 11.5em top 20px;
            background-size: 70px auto;
            height: 110px;
        }
        &:focus{
            outline: solid 3px $importantColor;
        }
    }
}
ul{
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  // justify-content:space-between;
  // align-content: space-between;
  list-style: none;
  margin:0 1em 0 300px;

  @include screen('mobile') {
    margin:0 auto;
    width: 90%;
    padding: 0 0 30px 0;
}
li{
    flex-basis: calc(100% / 12 * 4 - 4px);
    max-width: calc(100% / 12 * 4 - 4px);
    text-align: center;

    a{
        display: block;
        height: 68px;
        margin-top: 40px;
        padding-top:45px;
        border-right: dashed 1px #b5b0ae;
        @include screen('mobile') {
            margin-top: 20px;   
        }
    }
    &:nth-child(1) a{
        background: url('../images/hoticon01.png')no-repeat center top;
        background-size: 40px auto;
        border-left: dashed 1px #b5b0ae;

    }
    &:nth-child(2) a{
        background: url('../images/hoticon02.png')no-repeat center top;
        background-size: 40px auto;
        
    }
    &:nth-child(3) a{
        background: url('../images/hoticon03.png')no-repeat center top;
        background-size: 40px auto;
        
    }
}  
}

}
